:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196F3;
  --background-color: #FFFFFF;
  --hero-background-color: #2F303A;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
p,
h1,
h2,
h3,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: solid red 2px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  padding-top: 24px;
}
@media screen and (max-width: 767px) {
  .container.header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--accent-color);
}
.logo span {
  color: var(--logo-color);
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .nav-item:not(:first-child),
  .contacts-item:not(:last-child) {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-item:not(:first-child),
  .contacts-item:not(:first-child) {
    margin-left: 50px;
  }
}

/* 
.nav-item:nth-child(n+2),
.contacts-item:not(:first-child){
    margin-left: 50px;
}

.nav-item + .nav-item,
.contacts-item:not(:first-child){
    margin-left: 50px;
} */
.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.contacts-icon {
  fill: rgb(117, 117, 117);
}
@media screen and (max-width: 767px) {
  .contacts-icon {
    display: none;
  }
}

.nav-link,
.contacts-link {
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
@media screen and (min-width: 1200px) {
  .nav-link,
  .contacts-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}

.nav-link::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-link {
  color: var(--primary-text-color);
  padding-bottom: 32px;
  padding-top: 32px;
}
.nav-link:hover, .nav-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--secondary-text-color);
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--accent-color);
}

.burger-button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 5;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.burger-button.is-open .btn-close {
  display: block;
}

.burger-button.is-open .btn-open {
  display: none;
}

.btn-close {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 48px;
    width: 480px;
    height: 796px;
    background-color: var(--background-color);
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-image-set(url("../images/hero-bg@1x.jpg") 1x, url("../images/hero-bg@2x.jpg") 2x, url("../images/hero-bg@3x.jpg") 3x);
  background-image: image-set("../images/hero-bg@1x.jpg" 1x, "../images/hero-bg@2x.jpg" 2x, "../images/hero-bg@3x.jpg" 3x);
}
.hero .container {
  text-align: center;
}

h1 {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}

.hero-button {
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.backdrop .close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
}
.backdrop .close:hover {
  fill: var(--accent-color);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: scale(1.1) translate(-50%, -50%) rotateZ(0deg);
          transform: scale(1.1) translate(-50%, -50%) rotateZ(0deg);
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.form-svg {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.form-field {
  position: relative;
}
.form-field:not(:last-child) {
  margin-bottom: 10px;
}
.form-field input:hover,
.form-field input:focus {
  border-color: var(--accent-color);
}
.form-field label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  padding-bottom: 4px;
  color: var(--secondary-text-color);
}
.form-field input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}
.form-field textarea {
  resize: none;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
}
.form-field textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field:focus-within .form-svg {
  fill: var(--accent-color);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.checkbox input {
  width: 16px;
  height: 15px;
  margin-right: 7px;
}
.checkbox label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: var(--secondary-text-color);
}
.checkbox label a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

form button {
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.96px;
  color: var(--background-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 480px) {
  .advantages .item {
    width: 450px;
  }
  .advantages .item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantages .item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages .item {
    width: 270px;
  }
}
.advantages .item::before {
  content: "";
  display: block;
  height: 120px;
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}
@media screen and (max-width: 767px) {
  .advantages-title {
    text-align: center;
  }
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-text-color);
}

.antenna::before,
.clock::before,
.diagram::before,
.astronaut::before {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.antenna::before {
  background-image: url("../images/antenna-1.svg");
}

.clock::before {
  background-image: url("../images/clock-1.svg");
}

.diagram::before {
  background-image: url("../images/diagram-1.svg");
}

.astronaut::before {
  background-image: url("../images/astronaut-1.svg");
}

.about-us {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.what-we-do div {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.img-what-we-do {
  width: 370px;
}

.what-we-do-item {
  position: relative;
}

.p-what-we-do {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: var(--background-color);
}

.our-team {
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .our-team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.our-team-item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-our-team {
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .img-our-team {
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .img-our-team {
    width: 450px;
  }
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding-bottom: 10px;
  color: var(--primary-text-color);
}

.job {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding-bottom: 30px;
  color: var(--secondary-text-color);
}

.network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.network-list a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: rgb(175, 177, 184);
}
.network-list a:hover,
.network-list a:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  border-radius: 50%;
}

.network-icon {
  fill: currentColor;
}

.buyers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-buyers {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.buyers-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFB1B8;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
}
.buyers-link:hover, .buyers-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--hero-background-color);
}
.footer .logo > span {
  color: var(--background-color);
}
.footer .contacts-list {
  display: block;
}
.footer .contacts-item:not(:first-child) {
  margin-left: 0px;
}
.footer .contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--background-color);
}

/* portfolio */
.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.btn-list .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding: 6px 22px;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
}
.btn-list .button:hover,
.btn-list .button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1) 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1) 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-item:not(:first-child) {
  margin-left: 8px;
}

.job-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.job-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-text-color);
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
.examples li {
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  width: calc((100% - 90px) / 3);
  margin: 15px;
}
.examples li:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ex-text {
  padding: 20px 24px;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  color: var(--background-color);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */