.buyers-list{
    display: flex;
    justify-content: space-between;
}


.logo-buyers{
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.buyers-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}

.buyers-link:hover,
.buyers-link:focus{
    color: var(--accent-color);
    border-color: var(--accent-color);
}