.container.header{
    position: relative;
    display: flex;
    align-items: center;

    padding-bottom: 25px;
    padding-top: 24px;

    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    color: var(--accent-color);

    span{
        color: var(--logo-color);
    }
}

.nav-list{
    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.nav-item:not(:first-child),
.contacts-item:not(:last-child){
    @media screen and (max-width: 767px) {
        margin-top: 32px;
    }
}

.nav-item:not(:first-child),
.contacts-item:not(:first-child){
    @media screen and (min-width: $desktop) {
        margin-left:50px;
    }
}
/* 
.nav-item:nth-child(n+2),
.contacts-item:not(:first-child){
    margin-left: 50px;
}

.nav-item + .nav-item,
.contacts-item:not(:first-child){
    margin-left: 50px;
} */

.contacts-list{
    display: flex;

    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
    }

    @media screen and (min-width: $desktop) {
        align-items: center;
        margin-left: 300px
    }
}

.contacts-icon{
    fill: rgba(117, 117, 117, 1);
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.nav-link,
.contacts-link{
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;

    @media screen and (min-width: $desktop) {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }
}

.nav-link::after{
    content: '';
    position: absolute;
    display: block;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    transform: scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after{
    transform: scale(1);
}

.nav-link{
    color: var(--primary-text-color);
    padding-bottom: 32px;
    padding-top: 32px;

    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}

.contacts-link{
    color: var(--secondary-text-color);

    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}

.burger-button{
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 5;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.burger-button.is-open .btn-close{
    display: block;
}

.burger-button.is-open .btn-open{
    display: none;
}

.btn-close{
    display: none;
}



.mobile-menu{
    @media screen and (max-width: 767px) {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px 48px;
        width: 480px;
        height: 796px;
        background-color: var(--background-color);
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        margin-left: 93px;
    }

    &.is-open{
        display: flex;
    }
}