.container.header{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 25px;
    padding-top: 24px;
}

.header nav{
    /* outline: solid 1px red; */
    justify-content: center;
    align-items: center;
    display: flex;

}

.logo{

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    color: var(--accent-color);
}

.logo > span{
    color: var(--logo-color);
}

.nav-list{
    display: flex;
    margin-left: 93px;
}

.nav-item:not(:first-child),
.contacts-item:not(:first-child){
    margin-left:50px;
}
/* 
.nav-item:nth-child(n+2),
.contacts-item:not(:first-child){
    margin-left: 50px;
}

.nav-item + .nav-item,
.contacts-item:not(:first-child){
    margin-left: 50px;
} */

.contacts-list{
    /* outline: solid 1px red; */
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts-icon{
    fill: rgba(117, 117, 117, 1);
}

.nav-link,
.contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-link{
    color: var(--primary-text-color);
    padding-bottom: 32px;
    padding-top: 32px;
}

.contacts-link{
    color: var(--secondary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
    color: var(--accent-color);
}