.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background: image-set('../images/hero-bg@1x.jpg' 1x,
    '../images/hero-bg@2x.jpg' 2x,
    '../images/hero-bg@3x.jpg' 3x);

    // @media (min-device-pixel-ratio: 1),
    //         (min-resolution: 96dpi),
    //         (min-resolution: 1dppx) {
    // background-image: url('../images/hero-bg@1x.jpg');
    // }

    // @media (min-device-pixel-ratio: 2),
    //         (min-resolution: 192dpi),
    //         (min-resolution: 2dppx) {
    // background-image: url('../images/hero-bg@2x.jpg');
    // }

    // @media (min-device-pixel-ratio: 3),
    //         (min-resolution: 288dpi),
    //         (min-resolution: 3dppx) {
    // background-image: url('../images/hero-bg@3x.jpg');
    // }

    .container{
        text-align: center;
    }
}

h1{
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--background-color);
}

.hero-button{
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--background-color);
    background-color: var(--accent-color);
}