// Загальні стилі
@import './variables';
@import './utils';
@import './common';
// Студія
@import './header';



/* Герой */

.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url('./images/Img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero .container{
    text-align: center;
}

h1{
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--background-color);
}

.hero-button{
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--background-color);
    background-color: var(--accent-color);
}

/* Модальне вікно */

.backdrop{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.20);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.modal{
    position: absolute;
    width: 528px;
    height: 581px;
    background-color: var(--background-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.backdrop .close{
    position: absolute;
    right: 8px;
    top: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.10); 
    background-color: var(--background-color);
}

/* Переваги */

.advantages{
    display: flex;
    justify-content: space-between;
}

.advantages .item{
    width: 270px;
    
}

.advantages .item::before{
    content: '';
    display: block;

    height: 120px;
}

.antenna::before,
.clock::before,
.diagram::before,
.astronaut::before{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.antenna::before{
    background-image: url('./images/antenna\ 1.svg');
}

.clock::before{
    background-image: url('./images/clock\ 1.svg');
}

.diagram::before{
    background-image: url('./images/diagram\ 1.svg');
}

.astronaut::before{
    background-image: url('./images/astronaut\ 1.svg');
}

.advantages-h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    margin-bottom: 10px;

    color: var(--primary-text-color);
    }

.advantages-p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: var(--secondary-text-color);
}

/* Чим ми займаємось */

.what-we-do{
    display: flex;
}

.about-us{
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    margin-bottom: 50px;

    color: var(--primary-text-color);
}

.what-we-do{
    display: flex;
    justify-content: space-between;
}

.img-what-we-do{
    width: 370px;
}

.what-we-do-item{
    position: relative;
}

.what-we-do div{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.80);
}

.p-what-we-do{
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--background-color);
}

/* Наша команда */

.our-team{
    background-color: #F5F4FA;
}

.our-team-list{
    display: flex;
    justify-content: space-between;
}

.our-team-item{
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.img-our-team{
    width: 270px;
    padding-bottom: 30px;
}


.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    padding-bottom: 10px;

    color: var(--primary-text-color);
}

.job{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    padding-bottom: 30px;

    color: var(--secondary-text-color);
    }

.network-list{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.network-list a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: rgba(175, 177, 184, 1);
}

.network-list a:hover,
.network-list a:focus{
    background-color: var(--accent-color);
    color: var(--background-color);
    border-radius: 50%;
}

.network-icon{
    fill: currentColor;
}

/* Постійні клієнти */

.buyers-list{
    display: flex;
    justify-content: space-between;
}


.logo-buyers{
    width: 106px;
    height: 60px;
    fill: currentColor;

}

.buyers-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}

.buyers-link:hover,
.buyers-link:focus{
    color: var(--accent-color);
    border-color: var(--accent-color);
}

    /* Футер */

.footer{
    background-color: var(--hero-background-color);
}

.footer .logo > span{
    color: var(--background-color);
}

address{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: var(--background-color);
}

.footer .contacts-list{
    display: block;
}

.footer .contacts-item:not(:first-child){
    margin-left: 0px;
}

.footer .contacts-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */

.job-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;

    color: var(--primary-text-color);
}

.job-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: var(--secondary-text-color);
}

.btn-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.btn-item:not(:first-child){
    margin-left: 8px;
}

.btn-list .button{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 6px 22px;

    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
}

.btn-list .button:hover,
.btn-list .button:focus{
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1)
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.examples li{
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
}

.ex-text{
    padding: 20px 24px;
}