// Загальні стилі
@import './variables';
@import './utils';
@import './common';
// Студія
@import './header';
@import './hero';
@import './modal.scss';
@import './advantages';
@import './what-we-do';
@import './our-team';
@import './buyers';
@import './footer';

/* portfolio */

.btn-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .button{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 6px 22px;

    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    }

    .button:hover,
    .button:focus{
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1)
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.btn-item:not(:first-child){
    margin-left: 8px;
}

.job-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;

    color: var(--primary-text-color);
}

.job-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: var(--secondary-text-color);
}

.examples{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    li{
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
    }

    li:hover .overlay{
    transform: translateY(0);
    }
}

.ex-text{
    padding: 20px 24px;
}

.thumb{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    color: var(--background-color);
    background: rgba(33, 150, 243, 0.90);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}